.navbar-item {
    border: transparent;
    text-decoration: none;
    
    font-size: 40px;
    font-weight: 600;
    // font-family: fantasy;
    background-color: rgb(2, 1, 1);
  
  a {
      padding-top: 10px;
    color: white !important;
    
  }
}
.item {
  text-decoration: none;
  padding-bottom: 10px;
  display: inline-block;
}
