.navbar{
    margin-bottom: 5px;
    background-color: transparent !important;
    
    .navbar-brand{
        margin-right: 80px !important;
        font-size: 30px;
        font-weight: 600;
        font-family: fantasy;
    }
    .nav-link{
        margin-left:30px !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .activeNavItem{
        // background-color: white;
        color:#f1ecf3 !important;
        font-weight: 500;
        font-family: fantasy;
        font-size: 30px;
        
        

    }
    
}
