.footer{
    background: black !important;
    margin-top: 100px;
    .col-4-item1{
        margin-top: 10px;
    }
    p{
        font-size: 25px;
        margin-top:10px
    }
    span{
        margin-left: 5px !important;
    }
    .aboutUS{
        .col-icon{
            margin-right: 5px !important;
        }
    }
    
}