// BACKGROUND COLOR
$primary: #0f3285;
$secondary: #1e272f;
$Orange: #ef9633;

// TEXT COLOR
$cPrimary: #ffffff;
$cSecondary: #72828e;
$cShark: #212529;
$cOrange: #ed9632;

// FONT SIZE
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 25px;
$h5: 24px;
$h6: 20px;
$subtitle1: 18px;
$subtitle2: 16px;
$body1: 14px;
$body2: 12px;

// FONT WEIGHT
$bolder: 900;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// SPACING
$spacing: 10px;
